{% extends 'base.j2' %}

{% block title %}Accueil - Ma Bibliothèque{% endblock %}

{% block header %}Accueil{% endblock %}

{% block content %}
    <h2>Recherche</h2>
    <form method="post" action="{{http://api:5000}}">
        <label for="Utilisateurs">Recherche Utilisateur:</label>
        <input type="text" id="Utilisateurs" name="Utilisateurs">
        <button type="submit">Rechercher Utilisateur</button>

        <label for="livres">Recherche Livre:</label>
        <input type="text" id="livres" name="livres">
        <button type="submit">Rechercher Livre</button>
    </form>
{% endblock %}


