<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Ma Bibliothèque{% endblock %}</title>


</head>
<body>
    <header>
        <h1>{% block header %}Ma Bibliothèque{% endblock %}</h1>
        
    </header>

    <nav>
        <ul>
            <li><a href="{{http://api:5000/}}">Accueil</a></li>
            <li><a href="{{http://api:5000/emprunts}}">Emprunts</a></li>
            <li><a href="{{http://api:5000/livres}}">Livres</a></li>
            <li><a href="{{http://api:5000/resultats}}">Résultats</a></li>
        </ul>
    </nav>

    <main>
        {% block content %}{% endblock %}
    </main>

</body>
</html>
