{% extends 'base.j2' %}

{% block title %}Livres - Ma Bibliothèque{% endblock %}

{% block header %}Livres{% endblock %}

{% block content %}
    <h2>Liste des Livres</h2>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Titre</th>
                <th>Auteur</th>
            </tr>
        </thead>
        <tbody>
            {% for livre in livres %}
                <tr>
                    <td>{{ livre.id }}</td>
                    <td>{{ livre.titre }}</td>
                    <td>{{ livre.auteur }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
